<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Клуб четырёх коней</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/mainStyle.css">
  <link rel="stylesheet" href="styles/1750Style.css">
  <link rel="stylesheet" href="styles/1350Style.css">
</head>
<body>
  <header class="header">
    <div class="wrapper">

      <div class="header__content">

        <div class="header__head-block">
          <div class="head__image-block">
            <img src="assets/images/horses.svg" alt="logo-horses">
          </div>

          <div class="head__text-block">
            <h1 class="text-head">клуб<br>четырёх коней</h1>
          </div>
        </div>

        <div class="header__content-block">
          <div class="content-block__main-text-block">
            <p class="main-text__first-row">превратите уездный город</p>
            <p class="main-text__second-row">в столицу</p>
            <p class="main-text__third-row">земного шара</p>
          </div>

          <div class="content-block__description-block">
            <p class="description">Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам</p>
          </div>

          <div class="content-block__buttons-block">
            <a href="#" class="support-idea"><span>Поддержать шахматную мысль</span></a>
            <a href="#" class="details-turnir"><span>Подробнее о турнире</span></a>
          </div>
        </div>
      </div>

    </div>
  </header>

  <main class="main">
    <div class="line-wrapper">
      <div class="running-line">
        <p class="line-text">Дело помощи утопающим — дело рук самих утопающих! <span class="circle"></span> Шахматы двигают вперед не только культуру, но и экономику! <span class="circle"></span> Лед тронулся, господа присяжные заседатели! <span class="circle"></span></p>
        <p class="line-text">Дело помощи утопающим — дело рук самих утопающих! <span class="circle"></span> Шахматы двигают вперед не только культуру, но и экономику! <span class="circle"></span> Лед тронулся, господа присяжные заседатели! <span class="circle"></span></p>
        <p class="line-text">Дело помощи утопающим — дело рук самих утопающих! <span class="circle"></span> Шахматы двигают вперед не только культуру, но и экономику! <span class="circle"></span> Лед тронулся, господа присяжные заседатели! <span class="circle"></span></p>
      </div>
    </div>

    <section class="lecture">
      <div class="wrapper">

        <div class="lecture__content">
          <p class="lecture__text-first">Чтобы поддержать Международный васюкинский турнир</p>
          <div class="lecture__image-block">
            <img src="assets/images/simultaneous-play.svg" alt="simultaneous-play">
          </div>
          <p class="lecture__text-second">посетите лекцию на тему:</p>
          <h3 class="lecture__head">«Плодотворная дебютная идея»</h3>
        </div>

      </div>
    </section>

    <section class="game-session">
      <div class="wrapper">

        <div class="game-session__content">
          <div class="game-session__image-block">
            <img src="assets/images/singl-player.svg" alt="singl-player">
          </div>

          <div class="game-session__text-content">
            <h3 class="text-content__head">и Сеанс <span class="red-text">одновременной игры в шахматы на 160 досках </span>гроссмейстера О. Бендера</h3>

            <div class="text-content__info-block">
              <h6 class="info-block__title">Место проведения:</h6>
              <p class="info-block__description">Клуб «Картонажник»</p>
              <h6 class="info-block__title">Дата и время мероприятия:</h6>
              <p class="info-block__description">22 июня 1927 г. в 18:00</p>
              <h6 class="info-block__title">Стоимость входных билетов:</h6>
              <p class="info-block__description">20 коп.</p>
              <h6 class="info-block__title">Плата за игру:</h6>
              <p class="info-block__description">50 коп.</p>
              <h6 class="info-block__title">Взнос на телеграммы:</h6>
              <p class="info-block__description"><span class="strike">100 руб.</span> 21 руб. 16 коп.</p>
            </div>

            <p class="text-content__details details">По всем вопросам обращаться в администрацию к К. Михельсону</p>
          </div>
        </div>

      </div>
    </section>

    <section class="transformation">
      <div class="wrapper">

        <div class="transformation__content">
          <div class="transformation__head-block">
            <h2 class="head-block__head">Этапы преображения Васюков</h2>
            <div class="head-block__details details">Будущие источники обогащения васюкинцев</div>
          </div>

          <div class="transformation__description">
            <div class="transformation__description-blocks">
              <div class="description-block">
                <div class="block-number"><span>1</span></div>
                <p class="block-text">Строительство железнодорожной магистрали Москва-Васюки</p>
              </div>

              <div class="description-block">
                <div class="block-number"><span>2</span></div>
                <p class="block-text">Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов</p>
              </div>

              <div class="description-block">
                <div class="block-number"><span>3</span></div>
                <p class="block-text">Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет</p>
              </div>

              <div class="description-block">
                <div class="block-number"><span>4</span></div>
                <p class="block-text">Строительство дворца для турнира</p>
              </div>

              <div class="description-block">
                <div class="block-number"><span>5</span></div>
                <p class="block-text">Размещение гаражей для гостевого автотранспорта</p>
              </div>

              <div class="description-block">
                <div class="block-number"><span>6</span></div>
                <p class="block-text">Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов</p>
              </div>

              <div class="description-block">
                <div class="block-number"><span>7</span></div>
                <p class="block-text">Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн</p>
              </div>
            </div>
          </div>

          <div class="transformation__pagination-blocks">
            <div class="pagination-block__left-arrow"></div>

            <div class="pagination-block__dots-block">
              <div class="dot-block"></div>
              <div class="dot-block"></div>
              <div class="dot-block"></div>
              <div class="dot-block"></div>
              <div class="dot-block"></div>
            </div>

            <div class="pagination-block__right-arrow"></div>
          </div>

          <div class="transformation__image-block">
            <img src="assets/images/plane.svg" alt="plane">
          </div>
        </div>

      </div>
    </section>

    <section class="members">
      <div class="wrapper">

        <div class="members__content">
          <h2 class="members__head">Участники турнира</h2>

          <div class="members__slider-block">
            <div class="slider-line">

              <div class="slider-line__item-block">
                <div class="item__image-block"><img src="assets/images/participant.svg" alt="participant"></div>
                <p class="item__name">Хозе-Рауль Капабланка</p>
                <p class="item__description">Чемпион мира по шахматам</p>
                <button class="item__details">Подробнее</button>
              </div>

              <div class="slider-line__item-block">
                <div class="item__image-block"><img src="assets/images/participant.svg" alt="participant"></div>
                <p class="item__name">Эммануил Ласкер</p>
                <p class="item__description">Чемпион мира по шахматам</p>
                <button class="item__details">Подробнее</button>
              </div>

              <div class="slider-line__item-block">
                <div class="item__image-block"><img src="assets/images/participant.svg" alt="participant"></div>
                <p class="item__name">Александр Алехин</p>
                <p class="item__description">Чемпион мира по шахматам</p>
                <button class="item__details">Подробнее</button>
              </div>
              <div class="slider-line__item-block">
                <div class="item__image-block"><img src="assets/images/participant.svg" alt="participant"></div>
                <p class="item__name">Арон Нимцович</p>
                <p class="item__description">Чемпион мира по шахматам</p>
                <button class="item__details">Подробнее</button>
              </div>
              <div class="slider-line__item-block">
                <div class="item__image-block"><img src="assets/images/participant.svg" alt="participant"></div>
                <p class="item__name">Рихард Рети</p>
                <p class="item__description">Чемпион мира по шахматам</p>
                <button class="item__details">Подробнее</button>
              </div>
              <div class="slider-line__item-block">
                <div class="item__image-block"><img src="assets/images/participant.svg" alt="participant"></div>
                <p class="item__name">Остап Бендер</p>
                <p class="item__description">Чемпион мира по шахматам</p>
                <button class="item__details">Подробнее</button>
              </div>
            </div>
          </div>

          <div class="members__pagination-blocks">
            <div class="pagination-block__left-arrow"></div>

            <div class="pagination-block__numbers-block">
              <div class="numbers-block">3 / 6</div>
            </div>

            <div class="pagination-block__right-arrow"></div>
          </div>
        </div>

      </div>
    </section>

    <div class="line-wrapper">
      <div class="running-line">
        <p class="line-text">Дело помощи утопающим — дело рук самих утопающих! <span class="circle"></span> Шахматы двигают вперед не только культуру, но и экономику! <span class="circle"></span> Лед тронулся, господа присяжные заседатели! <span class="circle"></span></p>
        <p class="line-text">Дело помощи утопающим — дело рук самих утопающих! <span class="circle"></span> Шахматы двигают вперед не только культуру, но и экономику! <span class="circle"></span> Лед тронулся, господа присяжные заседатели! <span class="circle"></span></p>
        <p class="line-text">Дело помощи утопающим — дело рук самих утопающих! <span class="circle"></span> Шахматы двигают вперед не только культуру, но и экономику! <span class="circle"></span> Лед тронулся, господа присяжные заседатели! <span class="circle"></span></p>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="wrapper">
      <p class="footer__text-content">Все персонажи, события и цитаты являются вымышленными и не принадлежат создателям сайта. С подробностями можно познакомиться в главе XXXIV романа Ильи Ильфа и Евгения Петрова «Двенадцать стульев».</p>
    </div>
  </footer>
</body>
</html>